.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary-light);
  font-weight: bold;
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-secondary);
  font-weight: bold;
}

.btn-ghost:hover {
  color: var(--color-primary-light);
}

.btn-light {
  background-color: var(--color-neautral-beige);
  border-color: var(--color-neautral-beige);
  color: var(--color-whatever);
  font-weight: bold;
}
